<html>
<head>
<body>
	<div>
		<mxit:advert auid=<%= ENV['MXIT_APP_AUID1'] %> />
	</div>	
	<div>
		------
	</div>
	<br />	
	<h1>imagik</h1>
	<div>
		<%= yield %>
	</div>
	<br />
	<div>
		<a href="/">New search</a> | <a href="/about">About</a> 
	</div>
	<br />
	<div>
		------
	</div>
	<br />
	<div>
		Please <a href="mxit://[mxit_recommend]/Recommend?service_name=<%= ENV['MXIT_APP_NAME'] %>" type="mxit/service-navigation">share</a> with your friends :) | More Mxit: <%= @mixup_ad %>
	</div>
	<br />
	<div>
		<mxit:advert auid=<%= ENV['MXIT_APP_AUID2'] %> />
	</div>	
</body>
</html>